@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;700&family=Open+Sans:wght@600&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  font-family: "Open Sans", sans-serif;
}

.wrapper_input_box_description {
  margin: 8px 12px 0 24px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
}

.input_box-flex {
  display: flex;
  margin: 18px 16px 0 16px;
}

.input_box_input {
  width: 100%;
  border: none;
  border-radius: 16px 0 0 16px;
  height: 40px;
  background: #f7f7f8;
  color: #c3c3c6;
  /* padding:10px; */
  background-image: url("./img/lens.svg");
  background-size: 20px 20px;
  background-repeat: no-repeat;
  background-position: 13px;
  text-indent: 44px;
  caret-color: #6534ff;
  outline: none;
  cursor: pointer;
}

.input_box_input:focus {
  background-image: url("./img/lens-focus.svg");
  transition: 0.5s;
  color: #000;
  cursor: text;
}

.input_box_buttonSort {
  border: none;
  height: 40px;
  width: 40px;
  background-image: url("./img/filter-img.svg");
  background-position: center;
  background-size: auto;
  background-repeat: no-repeat;
  padding: 14px;
  background-color: #f7f7f8;
  cursor: pointer;
  border-radius: 0 16px 16px 0;
}
.links_components {
  /* padding-left: 4px; */
  border-bottom: 1px solid #c3c3c6;
  margin-bottom: 8px;
}

.links_components ul {
  display: flex;
  text-decoration: none;
  list-style: none;
  margin-top: 22px;
  margin-left: 16px;
}

.links_components ul li {
}

.links_components ul li a {
  text-decoration: none;
  color: #97979b;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  padding: 0 12px;
}

.is-active {
  color: #6534ff;
}

/* ###############-MODAL-WINDOW-################# */
.modal {
  display: flex;
  position: fixed;
  width: 100%;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background: rgba(5, 5, 16, 0.16);
  top: 0;
  left: 0;
  transform: scale(0);
}

.modal.active {
  transform: scale(1);
}

.modal_content {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30vw;
  height: 30vh;
  background: #fff;
  border-radius: 20px;
  color: #000;
}

.modal_content_p_button {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
}

.modal_content_p_button button {
  position: absolute;
  top: 0;
  right: 0;
  height: 24px;
  width: 24px;
  background-repeat: no-repeat;
  border-radius: 20px;
  border: none;
  margin: 24px 23px;
  background-image: url("./img/Bottomsheet.svg");
  background-position: center;
  background-repeat: no-repeat;
}

.modal_content_p_button p {
  margin-top: 24px;
  text-align: center;
  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
}

.modal_content_radButton {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  /* border: 1px solid #6534ff; */
  height: 192px;
}

.modal_content_radButton_wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 60px;
  margin: 20px 16px;
}

.modal_content_radButton_wrapper label {
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}

.modal_content_radButton_wrapper label input {
  margin-left: 16px;
  margin-right: 14px;
}

.loadMask_wrapper {
  display: flex;
  align-items: center;
}

.loadMask_wrapper_img {
  border-radius: 50px;
  width: 72px;
  height: 72px;
  margin-left: 16px;
}

.loadMask_wrapper_text {
  margin-left: 16px;
}

.loadMask_wrapper_text_b {
  width: 144px;
  height: 16px;
  border-radius: 50px;
}

.loadMask_wrapper_text_l {
  margin-top: 6px;
  width: 80px;
  height: 12px;

  border-radius: 50px;
}

.animGradient {
  background: linear-gradient(270deg, #f3f3f6, #fafafa);
  background-size: 400% 400%;

  -webkit-animation: AnimationName 14s ease infinite;
  -moz-animation: AnimationName 14s ease infinite;
  animation: AnimationName 14s ease infinite;
}

@-webkit-keyframes AnimationName {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@-moz-keyframes AnimationName {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@keyframes AnimationName {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.employee {
  display: flex;
  align-items: center;
  padding-top: 22px;
  padding-left: 16px;
}

.employee_img {
  width: 72px;
  height: 72px;
  border-radius: 55px;
}

.employee_text {
  margin-left: 16px;
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}

.employee_department {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 16px;
}

.employeeFirm_wrapper {
  top: 0;
  position: absolute;
  z-index: 50px;
  width: 100%;
  height: 100vh;
  background-color: #fff;
}

.employeeFirm {
  /* display: flex;
  justify-content: center; */
  width: 100%;
}
.employeeFirm div {
  /* margin-top: -30px ; */
  padding-top: 29.76px;
  background: #f7f7f8;
}
.employeeFirm_description {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.employeeFirm_button {
  margin: 0 0 0 32px;
  display: block;
  /* margin-top: 29.76px; */
  width: 24px;
  height: 24px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  background-color: transparent;
  border: none;
  cursor: pointer;
  background-image: url("./img/arrow.svg");
}

.employeeFirm_description_boldText {
  font-family: Inter;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  margin-top: 24px;
}

.employeeFirm_description_liteText {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 16px;
  color: #55555c;
  margin-top: 12px;
  text-align: center;
  margin-bottom: 24px;
}
.employeeFirm_description img {
  width: 104px;
  border-radius: 64px;
  height: 104px;
}

.employeeFirm_description_date {
  display: flex;
  margin-top: 27px;
}

.employeeFirm_description_date div {
  width: 24px;
  height: 24px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url("./img/star.svg");
  margin-left: 16.01px;
  margin-right: 13.97px;
}

.employeeFirm_description_number {
  display: flex;
  margin-top: 48px;
}

.employeeFirm_description_number div {
  height: 19.93px;
  width: 19.87px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("./img/telephone.svg");
  margin-left: 16.01px;
  margin-right: 14.09px;
}

a{
  color: #000;
  cursor: pointer;
  text-decoration: none;
}
